*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    /* transition: all 1s linear; */
    
}
/* universal */
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
/* iniversal ends here */

/* nav section starts here */
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(223, 218, 218);
    padding: 28px;
   position: relative;
    width: 100%; 
    z-index: 1;
    

}

.chair-furn{
    display: flex;
    align-items: center;
    gap: 10px;
}

nav ul{
  display: flex;
 
}


 .fa-chair{
    color: goldenrod;
    font-size: 2rem;
    
}

.fa-cart-shopping{
    font-size: 2rem;
}

.fa-user{
    font-size: 2rem;
    padding-left: 20px;
}
nav ul a{
    margin: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    transition: 0.4s ease forwards;
    transition-property: color;
}



nav ul a:hover{
    color: goldenrod;
}



.nav-down img{
    gap: -20px;
}

nav h2{
   font-size: 2rem;
}

.nav-down{
    background-image: url("./images/home-slide1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
    padding: 20%;
 font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-down h2{
    text-align: center;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
 

}

.nav-down p{
    text-align: center;
    color: white;
    font-size: 1.9rem;
    color: darkgoldenrod;
}


.swiper{
    width: 600px;
    height: 300px;
}

/* 
.nav-down .ic{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    margin-top: 40px;
    font-size: 2rem;
    color: white;
} */

/* nav ends here */



/* blog section starts here */
#blog .blog-top{
    margin-top: 20px;

    
}

#blog .text-header{
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}

#blog .text-header span{
    color: goldenrod;
}

#blog .blog-down1{
    display: flex;
}

#blog .blog-down{
    border: 1px solid ;
    margin: 10px;
    width: 32.5%;
    
    
    text-align: center;
    height: 566px;
    
    
}

#blog hr{
  
    width: 399px;
    
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    
}

#blog .blog-down h2{
    font-size:1.5rem;
   
    text-align: justify;
   padding: 20px;
}


#blog .blog-down p{
    font-size: 1.2rem;
    text-align: justify;
   
    padding: 20px;
    
}


#blog .btn{
   padding: 1rem 3rem;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    display: inline-block;
    /* margin-left: -198px; */

    
   
}




#blog input{
    border: none;
    
}

#blog .iclass{
   display: flex; 
   /* justify-content: space-between; */
   align-items: center;
 
 
    
}

#blog .img-resp{
    transition: 1s linear;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

#blog .img-resp:hover{
 
    transform: translate3d(10px,0px,20px);  
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}




#blog .img-resp2{
    transition: 1s linear;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

#blog .img-resp2:hover{
 
    transform: translate3d(10px,0px,20px);  
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}



#blog .img-resp1{
    transition: 1s linear;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

#blog .img-resp1:hover{
 
    transform: translate3d(10px,0px,20px);  
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}




#blog .blog-down .fa-calendar{
padding-left: 10px;
}


#blog .blog-down .fa-user{
    font-size: 1rem;
    padding-left: 180px;
}


#blog .btn:hover{
letter-spacing: .1rem;
}

/* blog section ends here */






/* footer */
footer{
    text-align: center;
    margin-top: 20px;
    background-color: #5f5656;
    font-size: 1.6rem;
    color: white;
}
/* footer ends here */